body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: ;
    cursor: pointer;
}

.dice {
    text-align: center;
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}
.result{
    font-size: large;
}

